.row:before,
.row:after {
    display: flex !important;
}

.page-content {
    padding-top: 0px;
}

.container {
    /* margin-top: 20px; */
}

.topBanner {
    background-color: #563d7c;
    background: url(<?php echo plugin_dir_url(__FILE__) ?>/images/quantr-background.jpg) center center;
    padding: 30px;
}

.topBanner h1 {
    color: white;
    text-transform: none;
    font-size: 4rem;
    font-weight: 400;
}

.topBanner .lead {
    color: #fff;
}

.gray {
    background-color: #dfdfdf;
    margin: 2px;
}

.separator1 {
    height: 4px;
}

.verticalSeparator1 {
    border-right: 3px solid #eaeaea;
}

#instructionTable td {
    padding: 0px;
    padding-top: 0px;
    padding-left: 5px;
}

#fullTestRecordTable td {
    padding: 0px;
    padding-top: 0px;
    padding-left: 5px;
}

.passTD {
    background-color: rgb(99, 231, 130);
}

.failTD {
    background-color: pink;
}

#myTabContent ul {
    margin-bottom: 0px;
}

#pipelineResultTable td {
    font-size: 12px;
    padding: 1px;
    padding-left: 5px;
    border-top: 1px solid #9e9e9e;
}

#pipelineResultTable pre {
    margin-bottom: 0px;
}

.correctRow {}

.wrongRow {
    background-color: #ffe4e4;
}

.mis-encode {
    background-color: #ffffc4;
}

.currentPageButton {
    background-color: #efefef;
}

#summaryTable td {
    padding-left: 10px;
    padding-right: 10px;
}

#pipelineResultTable td:nth-child(3) {
    text-align: left;
}

#pipelineResultTable td:nth-child(4),
#pipelineResultTable td:nth-child(5),
#pipelineResultTable td:nth-child(6),
#pipelineResultTable td:nth-child(7),
#pipelineResultTable td:nth-child(8),
#pipelineResultTable td:nth-child(9) {
    text-align: center;
}

#pipelineResultTable th:nth-child(4),
#pipelineResultTable th:nth-child(5),
#pipelineResultTable th:nth-child(6),
#pipelineResultTable th:nth-child(7),
#pipelineResultTable th:nth-child(8),
#pipelineResultTable th:nth-child(9) {
    text-align: center;
}

#summaryTable td:nth-child(2),
#summaryTable td:nth-child(3),
#summaryTable td:nth-child(4),
#summaryTable td:nth-child(5),
#summaryTable td:nth-child(6) {
    text-align: right;
}

#summaryTable th:nth-child(2),
#summaryTable th:nth-child(3),
#summaryTable th:nth-child(4),
#summaryTable th:nth-child(5),
#summaryTable th:nth-child(6) {
    text-align: right;
}

#summaryTable td {
    padding: 2px;
}

.sample_ia32 {
    border: 2px solid #9fd9ff;
    border-radius: 5px;
    padding: 10px;
    margin-left: -15px;
    background-color: #d7efff;
    font-weight: bold;
    font-size: 10px;
    color: #53a9e1;
}

.sample_risc-v {
    border: 2px solid #ffe49f;
    border-radius: 5px;
    padding: 10px;
    margin-left: -15px;
    background-color: #fdffd7;
    font-weight: bold;
    font-size: 10px;
    color: #e1b648;
}

.sample_gas {
    border: 2px solid #ff9fff;
    border-radius: 5px;
    padding: 10px;
    margin-left: -15px;
    background-color: #fff6fe;
    font-weight: bold;
    font-size: 10px;
    color: #d148e1;
}